.blogs {
  max-width: 345px;

  @media (max-width: $mobile-XL-width) {
    display: none;
  }
}

.blogs__title {
  display: block;

  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #333;

  margin-bottom: 40px;
}

.blogs__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.blogs__item {
  display: flex;
  align-items: center;
  margin-bottom: 42px;

  &:last-child {
    margin-bottom: 0;
  }
}

.blogs__link {
  display: flex;
  text-decoration: none;
}

.blogs__image {
  display: block;
  width: 100%;
  height: auto;

  object-fit: contain;

  &:hover {
    opacity: 0.9;
    transition: opacity 0.2s linear;
  }
}

.blogs__content {
  max-width: 200px;
  padding-left: 20px;
}

.blogs__text {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  color: #333;

  &:hover {
    color: darken(#333, 20%);
    transition: color 0.2s linear;
  }
}

.blogs__time {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-style: italic;
  font-size: 13px;
  line-height: 1.6;
  color: #999;
}
