.card {
  padding-left: 90px;
  padding-right: 35px;
  text-align: left;

  position: relative;
}

.card__image {
  position: absolute;
  top: 0;
  left: 33px;
}

.card__title {

  display: block;
  font-family:'Montserrat', sans-serif;
  font-size: 14px;
  text-transform: uppercase;

  color: #333;

  margin-bottom: 13px;
}

.card__text {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 1.6;

  color: #999;
}










