.intro {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100vh;

  background-image: url(../img/intro/intro-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #e89584;

  @media (max-width: $tablets-width) {
    height: auto;
  }
}

.intro__main {
  margin-top: 90px;

  @media (max-width: $tablets-width) {
    margin-top: 15px;
  }
}
