.logos {
  background-color: #f8f8f8;
}

.logos__list {
  margin: 0;
  padding: 50px 0;

  list-style: none;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logos__item:not(:last-child) {
  padding-right: 15px;
}

.logos__image {
  display: block;
  width: 100%;
  height: auto;
}
