.section--design {
  background-image: url('../img/design/design-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  padding-bottom: 580px;

  @media (max-width: $tablets-width) {
    padding-bottom: 400px;
  }
}

.section--team {
  padding-bottom: 40px;
}

.section--happy-clients {
  background-color: #ccc;
  background-image: url('../img/happy-clients/happy-clients-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.section__wrapper {
  display: flex;
  flex-direction: column;

  text-align: center;

  position: relative;
}

.section__suptitle {
  font-family: 'Kaushan Script', sans-serif;
  font-size: 24px;
  line-height: 1;
  color: #333;

  margin-top: 95px;
  margin-bottom: 25px;
}

.section__title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 1;
  text-transform: uppercase;
  color: #333;

  &::after {
    content: '';

    display: block;
    width: 60px;
    height: 3px;

    background-color: #f38181;

    margin: 40px auto 45px;
  }
}

.section__text {
  max-width: 950px;
  margin: 0 auto 90px;

  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  line-height: 1.6;
  color: #999;
}

.section__gallery {
  margin-bottom: 110px;
}

.section__gallery--works {
  margin-bottom: 0;
}

.section__list {
  margin: 0;
  padding: 0;
  padding-bottom: 120px;

  list-style: none;

  display: flex;
  flex-direction: column;
}

.section__item {
  display: flex;
  justify-content: space-between;
  width: 100%;

  @media (max-width: $mobile-XL-width) {
    flex-direction: column;
  }
}

.section__card {
  flex-basis: 33%;
    margin-bottom: 15px;
}

.section__image-tablet {
  position: absolute;
  bottom: -580px;
  left: 28.5%;

  @media (max-width: $tablets-width) {
    width: 300px;
    height: auto;
    bottom: -400px;
  }
}

.section__image-phone {
  position: absolute;
  bottom: -675px;
  left: 52%;

  @media (max-width: $tablets-width) {
    width: 200px;
    height: auto;
    bottom: -475px;
  }
}

.section__clients {
  padding-top: 60px;
  padding-bottom: 80px;
}

.section__blog {
  margin-bottom: 80px;
}
