.what-we-do {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-bottom: 120px;
}

.what-we-do__image {
  display: block;
  width: 100%;
  max-width: 570px;
  height: auto;
  object-fit: contain;

  margin: 0 15px 15px 15px;
}

.what-we-do__list {
  margin: 0;
  padding: 0;

  list-style: none;

  text-align: left;
  min-width: 360px;
  max-width: 570px;
  flex-grow: 1;
}

.what-we-do__item {
  position: relative;

}

.what-we-do__title {
  display: block;

  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #333;

  border: 1px solid #e5e5e5;

  padding: 20px 60px;

  position: relative;

  &--opened ~ .what-we-do__text{
    display: block;
  }

  &--closed {
    cursor: pointer;
  }

  &--closed ~ .what-we-do__text{
    display: none;
  }

  &--closed + .what-we-do__button-toggle {
    transform: rotate(225deg);
    top: 15px;

    cursor: pointer;
  }

  &::before {
    content: '';

    width: 30px;
    height: 30px;

    background-image: url('../img/wedo/photography.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    position: absolute;
    top: 13px;
    left: 15px;
  }

  &--creativity::before {
    background-image: url('../img/wedo/creativity.svg');
  }

  &--design::before {
    background-image: url('../img/wedo/web-design.svg');
  }
}

.what-we-do__text {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-style: italic;
  line-height: 1.7;
  color: #999;

  border: 1px solid #e5e5e5;
  border-top: none;

  padding: 20px 50px 25px 20px;
}

.what-we-do__button-toggle {
  margin: 0;
  padding: 0;
  background-color: transparent;
  color: transparent;

  border: none;
  border-top: 2px solid #ccc;
  border-left: 2px solid #ccc;

  width: 20px;
  height: 20px;

  transform: rotate(45deg);

  position: absolute;
  top: 23px;
  right: 20px;
}

